.card {
  border-radius: var(--border-radius);
  overflow: hidden;
  /* height: 350px; */
}

.top {
  display: flex;
  justify-content: flex-end;
}

.image {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.tag {
  position: absolute;
  display: flex;
  height: 53px;
  padding: 0px 10px;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  margin-right: 28.5px;
  font-size: 14px;
  color: var(--secondary-color);
}

.type1 {
  background-color: var(--sub-color1);
}

.type2 {
  background-color: var(--sub-color2);
}

.content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 0px 0px 30px 30px;
  border: 1px solid #cdcdcd;
  background: #fff;
}

.content > :nth-child(1) {
  color: #5c5c5c;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.content > :nth-child(2) {
  color: var(--primary-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content > :nth-child(3) {
  color: #5c5c5c;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.author {
  display: flex;
  gap: 10px;
}

.author > :nth-child(2) {
  color: #5c5c5c;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.arrow {
  display: flex;
  /* background-color: red; */
  margin-top: -83px;
  justify-content: flex-end;
}
